{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load delete_modal %}


<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    {% include "better_django_tables/filters/sidebar_filter.html" %}

    <!-- Main content -->
    <main class="col-12 col-md-9 col-lg-10 px-md-2" style="overflow-x: auto; min-width: 0;">
      {% if links %}
      {% include "better_django_tables/partials/links.html" %}
      {% endif %}

      <!-- Table Name and Controls Row -->
      <div class="d-flex justify-content-between align-items-center mb-1">
        <!-- Table Name -->
        <div>
          {% if table.table_name %}
            <h4 class="mb-0">{{table.table_name}}</h4>
          {% endif %}
        </div>

        <!-- Controls -->
        <div class="d-flex gap-2">
          <!-- Active Filters Badges -->
          {% include "better_django_tables/filters/active_filter_badges.html" %}

          <!-- Search Bar -->
          {% include "better_django_tables/filters/searchbar_filter.html" %}

          <!-- Reports Section -->
          {% if available_reports is not None %}
            {% include "better_django_tables/reports/reports.html" %}
          {% endif %}

          <!-- Create URL -->
          <div class="col-auto">
            {% if table.add_create_button %}
              <a href="{% url table.create_url %}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">
                <i class="bi bi-plus-lg"></i> {% if table.create_url_label %}{{table.create_url_label}}{% else %}New Record{% endif %}
              </a>
            {% endif %}
          </div>

          <!-- Per Page Selector -->
          <div class="col-auto">
            {% include "better_django_tables/partials/per_page_selector.html" %}
          </div>

          <!-- Export Buttons -->
          {% if exportable %}
            <div class="col-auto">
              <a class="btn btn-info btn-sm" href="{% querystring '_export'='csv' %}" role="button">Export CSV</a>
            </div>
          {% endif %}
        </div>
      </div>
      <!-- End Table Name and Controls Row -->

      {% if column_selection_form %}
        {% include "mutablecolumns/form.html" %}
      {% endif %}

      {% include "better_django_tables/partials/bulk_actions.html" %}
      <div class="table-responsive">
        {% render_table table %}
      </div>
    </main>
  </div>
</div>

{% if not delete_modal_loaded %}
    {% render_delete_modal table %}
    {% with delete_modal_loaded=True %}
    {% endwith %}
{% endif %}


{% block javascript %}
  <script src="{% static 'better_django_tables/js/bulk_actions.js' %}"></script>
{% endblock %}
